site_name: webtask
site_description: LLM-powered web automation library with autonomous agents and natural language selectors
site_url: https://steve-z-wang.github.io/webtask/
repo_url: https://github.com/steve-z-wang/webtask
repo_name: steve-z-wang/webtask

theme:
  name: material
  palette:
    # Light mode
    - scheme: default
      primary: white
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: black
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate

  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - attr_list
  - md_in_html
  - tables

plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/steve-z-wang/webtask
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/pywebtask/

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Documentation:
    - Getting Started: getting-started.md
    - Examples: examples.md
    - Architecture: architecture.md
    - API Reference:
      - Overview: api/index.md
      - Webtask: api/webtask.md
      - Agent: api/agent.md
      - Page: api/page.md
      - Element: api/element.md
      - LLM: api/llm.md
      - Data Classes: api/data-classes.md
  - Blog: blog.md
  - Community: community.md

copyright: Copyright &copy; 2024 - MIT License
