name: PR Checks

on:
  pull_request:
    branches:
      - main
    paths:
      - 'src/webtask/**'  # Only run tests when code changes
      - 'pyproject.toml'  # Or dependencies change
      - 'tests/**'        # Or tests themselves change

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  test-unit:
    needs: lint
    uses: ./.github/workflows/test-unit.yml

  test-e2e:
    needs: test-unit
    uses: ./.github/workflows/test-e2e.yml
