name: PR Checks

on:
  pull_request:
    branches:
      - main
    paths:
      - 'src/webtask/**'  # Only run tests when code changes
      - 'pyproject.toml'  # Or dependencies change
      - 'tests/**'        # Or tests themselves change

jobs:
  test:
    uses: ./.github/workflows/test.yml
